.ios, .md {
 
    home-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 29%;
        z-index: 5;
        background-color: #fff;
        //padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 12pxpx;
        padding-left: 35px;
}
 
    }
 
}

