<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rotas</ion-title>
    <ion-buttons *ngIf="!hasResult()" end>
      <button ion-button button-right icon-only (click)="clear()" title="Remover ultima parada">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button button-right icon-only (click)="add()" title="Adicionar parada">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button button-right icon-only (click)="remove()" title="Remover ultima parada">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbiMeIQ5o2RPCvqxcH1jdXr5LvNzwphTY"></script>

</ion-header>


<ion-content padding>
  

  <ion-list *ngIf="!hasResult()">
    <ion-item>
      <ion-label floating>Origem:</ion-label>
      <ion-input [(ngModel)]="origin" value="{{origin | uppercase}}"></ion-input>
    </ion-item>

    <ion-item *ngFor="let way of waypoints; let i = index;" >
      <ion-label floating>Ponto {{i+1}}:</ion-label>
      <ion-input [(ngModel)]="way.location" value="{{way.location | uppercase}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Destino:</ion-label>
      <ion-input [(ngModel)]="destination" [disabled]="sameDestination" value="{{destination | uppercase}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Destino é o mesmo local de origem?</ion-label>
      <ion-toggle (ionChange)="destinationIsOrigin()" [(ngModel)]="sameDestination"></ion-toggle>
    </ion-item>
    <ion-item  class="button">
      <button ion-button (click)="routing()" round large>Calcular Rota</button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="hasResult()">
    <ion-item>
      <ion-textarea [disabled]="true">Melhor rota:</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Origem:</ion-label>
      <ion-input [disabled]="true" value="{{origin | uppercase}}"></ion-input>
    </ion-item>

    <ion-item *ngFor="let way of result; let i = index;" >
      <ion-label>Ponto {{i+1}}:</ion-label>
      <ion-input [disabled]="true" value="{{way | uppercase}}" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Destino:</ion-label>
      <ion-input [disabled]="true" value="{{destination | uppercase}}"></ion-input>
      <button ion-button  (click)="remove()" icon-right icon-only>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="button">
      <button ion-button (click)="back()" outline round large>Voltar</button>
    </ion-item>
  </ion-list>

</ion-content>
